
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    opacity:1;

}


@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }

}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


.fade-out {
    animation: spin 5s linear;
    opacity:0;
}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.spinOut{
    animation: spin 5s linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) scale(1); opacity:1;
        -ms-transform: rotate(0deg) scale(1); opacity: 1;
        transform: rotate(0deg) scale(1); opacity: 1;}
    50% {
        -webkit-transform: rotate(180deg) scale(0.5);opacity: 0.5;
        -ms-transform: rotate(180deg) scale(0.5);opacity: 0.5;
        transform: rotate(180deg) scale(0.5); opacity: 0.5;}
    100% {
        -webkit-transform: rotate(360deg) scale(0.25);opacity: 0;
        -ms-transform: rotate(360deg) scale(0.25);opacity: 0;
        transform: rotate(360deg) scale(0.25); opacity: 0;}
}
